.grade-bar {
  rect {
    height: 6px;
  }

  .grade-bar__base {
    fill: $light-300;
  }

  .grade-bar__divider {
    fill: $primary-500;
    width: 1px;
  }

  .grade-bar--passing {
    fill: #21472E;
  }

  .grade-bar--current-passing {
    fill: $success-500;
  }

  .grade-bar--current-non-passing {
    fill: $accent-b;
  }
}

#minimum-grade-tooltip {
  margin: 0 !important;
  background-color: #21472E !important;
}

#minimum-grade-tooltip {
  .arrow::after {
    border-bottom-color: #21472E;
  }
}

#passing-grade-tooltip {
  .arrow::after {
    border-top-color: #21472E;
  }

  background: #21472E;
}

#non-passing-grade-tooltip {
  .arrow::after {
    border-top-color: $accent-b;
  }

  background: $accent-b;
}
